
.body {
	font-family: 'Montserrat', sans-serif;
	box-sizing: border-box;
}

.container-fluid {
	padding-left: 0;
	padding-right: 0;
}

.match_banner_title {
	font-size: 36px;
	color: rgb(209, 10, 17 );
	font-family: 'Montserrat', sans-serif;
}

.fixtures {
	color: #a4a3a8;
}

.btn-success {
	background-color: transparent;
	color: rgb(209, 10, 17);
	border: 1px solid #a4a3a8;
	border-radius: 0;
	height: 50px;
}

.btn-success:hover {
	color: #fff;
	background-color:rgb(209, 10, 17);

}

.match-banner-image {
	margin-top: 20px;
	height: 400px;
	width: 100%;
	background-image: url('../img/homebanner-1.jpg');
	background-color: transparent;
}

#status-flag {
	width: auto;
	height: auto;
	background-color: #0c1f75;
	color: #fff;
	top: 55px;
	left: 55px;
	padding: 15px 20px;
	display: block;
	position: absolute;
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
	transition: color .3s linear,background-color .3s linear;
}

.away-team, .home-team {
	color: #fff;
	top: 100px;
	letter-spacing: 3px;
	font-size: 30px !important;
	position: absolute;
	font-weight: 700px;
	display: flex;
	padding: 10px 15px;	
    font-family: 'Montserrat', sans-serif;
	text-transform: capitalize;
	transition: color .3s linear,background-color .3s linear;
}

.home-team {
	left: 50%;
}

 #title-name {
 	font-size: 25px;
 	margin-left: 10px;
 	font-weight: bold;
 }

#title-name_sub {
	display:flex;
	font-size: 15px;
	font-weight: bold;
}

#vs {
	position: absolute;
	color: #fff;
	top: 146px;
	left: 48%;
	font-size: 15px;
}
.vs {
	position: absolute;
	left: 50%;
}

#venue {
	text-align: center;
	position: absolute;
	top: 55px;
	left: 40%;
	color: #fff;
	font-size: 15px;
	font-weight: bolder;
	letter-spacing: 5px;
    font-family: 'Montserrat', sans-serif;
}

#fixture-date {
	color: #fff;
	position: absolute;
	top: 282px;
	left: 37%;
	font-size: 25px;
	letter-spacing: 5px;
}


.match_months, .result_page {
	margin-bottom:30px; 
	margin-top:30px;
	font-size: 20px;
	color: rgb(209, 10, 17);
}
a {
	color: inherit;
}

a:hover {
	text-decoration: none;
}


#chelsea {
	position: absolute;
	height: 130px;
	width: 130px;
}

.match-item_info {

 	 margin-top: 20px;
 	 margin-bottom: 20px
}


.match-item_content {
	padding-left: 30px;
	height:100px;
	width: 100%;
	border: 1px solid #dedede;
	background-color:#EEE;
}

.match-item_location {
    color: #777;
    font-size: 12px;
    line-height: 1.3em;
}

.fixture-logo {
	margin-top: 20px;
	margin-bottom: 20px;
}



@media screen and (max-width: 600px) {
     .vs{
     	display: none;
     }
     .venue, .fixture-date{
     	font-size: 18px;
     	letter-spacing: 3px;
     	font-weight: bolder;
     	text-align:center;
     	position: absolute;

     	left: 50%;

     }

     .venue {
     	top: 127px;
     	left: 34%;
     }

     .fixture-date {
     	top: 330px;
     	left: 30%;
     }
     .home-team, .away-team {
     	font-size: 15px;
     	letter-spacing: 3px;
     }

     .home-team {
     	top: 182px;
     	left: 58%;
     }

     .away-team {
     	top: 182px;
     	left: 16%;	
     }

.match-banner-title {
	font-size: 18px;
}

.home-team-title, .away-team_-itle {
	display: none;
}


#chelsea {
	position: absolute;
	top: -62px;
	height: 100px;
	width: 100px;
}

#arsenal {
	position: absolute;
	top: 30px;
}

img {
	height: 80px;
	width: 80px;
}

.btn-success {
	font-size: small;
}

.status_flag {
	position: absolute;
	left: 40%;
}

.club_title{
	font-size: 15px;
}

}


